<div class="modal__content">
    <span class="modal__close">&times;</span>
    <div class="sliders">
        <form id="imageEditor">
            <p>
                <label for="gs">Grayscale</label>
                <input id="gs" name="gs" type="range" min="0" max="100" value="0" class="css-filter-type"
                    data-filter="grayscale" data-unit="%">
            </p>

            <p>
                <label for="blur">Blur</label>
                <input id="blur" name="blur" type="range" min="0" max="10" value="0" class="css-filter-type"
                    data-filter="blur" data-unit="px">
            </p>

            <p>
                <label for="br">Exposure</label>
                <input id="br" name="br" type="range" min="0" max="200" value="100" class="css-filter-type"
                    data-filter="brightness" data-unit="%">
            </p>


            <p>
                <label for="ct">Contrast</label>
                <input id="ct" name="ct" type="range" min="0" max="200" value="100" class="css-filter-type"
                    data-filter="contrast" data-unit="%">
            </p>

            <p>
                <label for="huer">Hue Rotate</label>
                <input id="huer" name="huer" type="range" min="0" max="360" value="0" class="css-filter-type"
                    data-filter="hue-rotate" data-unit="deg">
            </p>

            <p>
                <label for="opacity">Opacity</label>
                <input id="opacity" name="opacity" type="range" min="0" max="100" value="100" class="css-filter-type"
                    data-filter="opacity" data-unit="%">
            </p>

            <p>
                <label for="invert">Invert</label>
                <input id="invert" name="invert" type="range" min="0" max="100" value="0" class="css-filter-type"
                    data-filter="invert" data-unit="%">
            </p>

            <p>
                <label for="saturate">Saturate</label>
                <input id="saturate" name="saturate" type="range" min="0" max="500" value="100" class="css-filter-type"
                    data-filter="saturate" data-unit="%">
            </p>

            <p>
                <label for="sepia">Sepia</label>
                <input id="sepia" name="sepia" type="range" min="0" max="100" value="0" class="css-filter-type"
                    data-filter="sepia" data-unit="%">
            </p>

            <input class="modal__button slider__reset" type="reset" form="imageEditor" id="resetForm" value="Reset" />

        </form>
    </div>

    <div id="imageContainer" class="center">
        <img src="images/uploads/01.jpg" class="photo">
    </div>
    <div class="modal__filters">
        <div class="modal__filters__item">
            <img src="images/uploads/01.jpg" data-id="1" class="modal__filters__item__thumb">
            <div class="modal__filters__item__heading text-outline">Old-Timey</div>
        </div>
        <div class="modal__filters__item">
            <img src="images/uploads/01.jpg" data-id="2" class="modal__filters__item__thumb">
            <div class="modal__filters__item__heading text-outline">Autumn</div>
        </div>
        <div class="modal__filters__item">
            <img src="images/uploads/01.jpg" data-id="3" class="modal__filters__item__thumb">
            <div class="modal__filters__item__heading text-outline">Funky</div>
        </div>
        <div class="modal__filters__item">
            <img src="images/uploads/01.jpg" data-id="4" class="modal__filters__item__thumb">
            <div class="modal__filters__item__heading text-outline">80-s</div>
        </div>
        <div class="modal__filters__item">
            <img src="images/uploads/01.jpg" data-id="5" class="modal__filters__item__thumb">
            <div class="modal__filters__item__heading text-outline">Acid</div>
        </div>
        <div class="modal__filters__item">
            <img src="images/uploads/01.jpg" data-id="6" class="modal__filters__item__thumb">
            <div class="modal__filters__item__heading text-outline">Bleached</div>
        </div>
        <div class="modal__filters__item">
            <img src="images/uploads/01.jpg" data-id="7" class="modal__filters__item__thumb">
            <div class="modal__filters__item__heading text-outline">Vibrant</div>
        </div>
        <div class="modal__filters__item">
            <img src="images/uploads/01.jpg" data-id="8" class="modal__filters__item__thumb">
            <div class="modal__filters__item__heading text-outline">Washed-out</div>
        </div>
        <div class="modal__filters__item">
            <img src="images/uploads/01.jpg" data-id="9" class="modal__filters__item__thumb">
            <div class="modal__filters__item__heading text-outline">I see dead people</div>
        </div>
    </div>
    <input id="ok" class="modal__confirm modal__button" type="button" value="Save" />
</div>