/* [[[ MODAL ]]] */

.text-outline {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.btn {
    display: inline-block;
    height: 50px;
    width: 50px;
    padding: 0px;
    border: 4px solid #b3b3b1;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    font-weight: 100;
    color: #000;
}
  
#imageContainer {
    /* border: 2px solid grey; */
    border-radius: 10px;
    padding: 5px;
    /* width: 65%; */
    /* max-width: 600px; */
    /* float: left; */
    margin: 20px;
    position: relative;
}

#imageContainer img {
    border-radius: 10px;
    width: 100%;
    position: absolute;    
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.sliders {
    float: left;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.sliders p {
    margin: 18px 0;
    vertical-align: middle;
}

.sliders label {
    display: inline-block;
    margin: 10px 0 0 0;
    width: 100px;
    font-size: 16px;
    color: #22313F;
    text-align: left;
    vertical-align: middle;
}

.sliders input {
    position: relative;
    margin: 10px 20px 0 10px;
    vertical-align: middle;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type=range] {    
    border-radius: 5px;   
    width: 150px;
}
/*
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 7px;
    background: #ABB7B7;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #4B77BE;
    margin-top: -6px;
    vertical-align: middle;
}
*/
input[type=range]:focus {
    outline: none;
}

input[type=range]:hover {
    cursor: pointer;
}

.modal__filters__item__thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
div.modal-hidden {
    display: none;
}
.modal-shown {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal__content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

    gap: 1rem;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr 0.2fr 0.05fr;
}

.modal__close {
    position: absolute;
    right: 0px;
    margin-right: 1rem;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
}

.modal__filters {
    /* width: 35%; */
    border: 2px solid grey;
    border-radius: 10px;
    overflow-x: auto;
    padding: 5px;
    grid-column: 1 / span 2;
    grid-row: 2;
    height: 160px;

    gap: 1rem;
    display: grid;
}
.modal__filters__item {
    grid-row: 1;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.modal__filters__item__heading{
    position: relative;
    top: -20%;
    text-align: center;
    background-color: grey;
}
.modal__confirm {
    grid-column: 2;
    grid-row: 3;
    align-self: end;
    justify-self: end;
}


