<!-- / Site Logo -->
<div class="site-logo">
    <a href="">
        <img src="images/site-logo.png" />
    </a>
</div>
<!-- \ Site Logo -->


<!-- / Site Menu -->
<div class="site-menu">
    <div class="icon"></div>
    <div class="menu">
        <ul>
            <li><a href="index.html">Gallery</a></li>
            <li><a href="library.html">My Library</a></li>
            <li><a href="index.html">My Order</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </div>
</div>
<!-- \ Site Menu -->


<!-- / Site Description -->
<h1>
    Your one-stop-shop for digital printing.
</h1>
<!-- \ Site Description -->


<!-- / Site Footer -->
<div class="site-footer">
    <div class="site-social">
        <ul>
            <li><i class="pe-so-dribbble pe-lg pe-va"></i></li>
            <li><i class="pe-so-facebook pe-lg pe-va"></i></li>
            <li><i class="pe-so-twitter pe-lg pe-va"></i></li>
        </ul>
    </div>

    <p>© 2015 Finec</p>
    <p>HTML Theme by <a href="http://themeraid.com">ThemeRaid</a></p>
</div>
<!-- \ Site Footer -->